div.box {
  display: inline-block;
  border-style: solid;
  border-width: 1;
  border-color: #666375;
}

div.cell {
  display: inline-block;
}

#sudoku {
  font-size: 0;
  text-align: center;

}

.cell input {
  width: 30px;
  height: 30px;
}

body {
  text-align: center;
  font-family: Arial;
}

.incorrect {
  background-color: #E8E290;
}

.value-provided{
  background-color: #938DB0;
}

# {
	margin: 20px;
}